.color-picker-container {
  z-index: 2;
  border-radius: 5px;
  width: 15rem;
  height: auto;
  background-color: #ffffff;
  position: absolute;
  bottom: -100px;
  right: 90px;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color-picker-container-modal {
  z-index: 2;
  border-radius: 5px;
  width: 15rem;
  height: auto;
  background-color: #ffffff;
  position: absolute;
  bottom: -100px;
  right: 90px;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.colorItem {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0.2rem;
  border-radius: 50%;
}

.colorItem:hover {
  opacity: 0.7;
}