@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Inter:wght@300&family=Petemoss&display=swap");
html{
  font-size: 62.5%;
}
body{
  overflow-y: auto;
}
:root{
  --light-grey:#DFDFDE;
  --primary-bg-color:#F2DDC1;
  --secondary-bg-color:#694E4E;
  --primary-text-color:#2C3333;
  --white:#ffffff;
}
.flex-vt{
  display: flex;
  flex-direction: column;
}
.flex-hz{
  display: flex;
  flex-direction: row;
}
.jc-sa{
  justify-content: space-around;
}
.jc-sb{
  justify-content: space-between;
}
.main-page-container{
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas: "sidebar mainsection";
}
.main-section-container{
 
  display: flex;
  flex-direction: column;
  grid-area: mainsection;
}

@media only screen and (max-width: 600px) {
  html{
      font-size: 50%;
  }
}